[user]
    name = rxdazn
    email = rxdazn@gmail.com

[merge]
    tool = vimdiff

[alias]
    co = checkout
    com = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
